/* UNIVERSAL */

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    -webkit-print-color-adjust: exact;
}

/* ROOT FONT STYLES */

* {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #333447;
    font-size: 12px;
    line-height: 1.5;
}

/* TYPOGRAPHY */

h1 {
    font-size: 1.75rem;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

h4 {
    font-size: 1rem;
    margin-bottom: 10px;
}

h5 {
    font-size: 0.75rem;
    margin-bottom: 10px;
}

h6 {
    font-size: 0.5rem;
    margin-bottom: 10px;
}

ul {
    padding: 10px;
}

img {
    width: 100%;
    height: auto;
}

/* ==== GRID SYSTEM ==== */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.row {
    margin-right: -1rem;
    margin-left: 0rem;
}
.row-no-gutters {
    margin-right: 0;
    margin-left: 0;
}
.row-no-gutters [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}
.col-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 0rem;
    padding-left: 1rem;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    float: left;
}
.col-12 {
    width: 100%;
}
.col-11 {
    width: 91.66666667%;
}
.col-10 {
    width: 83.33333333%;
}
.col-9 {
    width: 75%;
}
.col-8 {
    width: 66.66666667%;
}
.col-7 {
    width: 58.33333333%;
}
.col-6 {
    width: 50%;
}
.col-5 {
    width: 41.66666667%;
}
.col-4 {
    width: 33.33333333%;
}
.col-3 {
    width: 25%;
}
.col-2 {
    width: 16.66666667%;
}
.col-1 {
    width: 8.33333333%;
}

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
    display: table;
    content: ' ';
}
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
    clear: both;
}

/* ==== TABLES ==== */

table {
    background-color: transparent;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    font-size: 1rem;
    page-break-inside: avoid;
}

table col[class*='col-'] {
    position: static;
    display: table-column;
    float: none;
}

table td[class*='col-'],
table th[class*='col-'] {
    position: static;
    display: table-cell;
    float: none;
}

th {
    text-align: left;
    text-transform: uppercase;
    background: whitesmoke;
    font-size: 1.1rem;
}

tr th.fake-row {
    height: 0;
    padding: 0 !important;
    background: transparent !important;
    border: none !important;
}

table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
    padding: 3px;
    line-height: 1.2;
    vertical-align: middle;
    border-top: 1px solid #dddddd;
}

table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #dddddd;
    padding: 6px 3px;
}

table > caption + thead > tr:first-child > th,
table > colgroup + thead > tr:first-child > th,
table > thead:first-child > tr:first-child > th,
table > caption + thead > tr:first-child > td,
table > colgroup + thead > tr:first-child > td,
table > thead:first-child > tr:first-child > td {
    border-top: 0;
}

table > tbody + tbody {
    border-top: 2px solid #dddddd;
}

.table-bordered {
    border: 1px solid #dddddd;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    border: 1px solid #dddddd;
}

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
    border-bottom-width: 2px;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.table-no-border > thead > tr > th,
.table-no-border > tbody > tr > th,
.table-no-border > tfoot > tr > th,
.table-no-border > thead > tr > td,
.table-no-border > tbody > tr > td,
.table-no-border > tfoot > tr > td {
    border: none;
}

/* ==== HELPERS ==== */

.background-grey {
    background: whitesmoke;
}

.margin {
    margin: 20px;
}

.margin-0 {
    margin: 0;
}

.margin-top {
    margin-top: 20px !important;
}

.margin-right {
    margin-right: 20px !important;
}

.margin-bottom {
    margin-bottom: 20px !important;
}

.margin-left {
    margin-left: 20px !important;
}

.margin-top-0 {
    margin-top: 0 !important;
}

.margin-right-0 {
    margin-right: 0 !important;
}

.margin-bottom-0 {
    margin-bottom: 0 !important;
}

.margin-left-0 {
    margin-left: 0 !important;
}

.padding {
    padding: 20px;
}

.padding-0 {
    padding: 0;
}

.padding-top {
    padding-top: 20px !important;
}

.padding-right {
    padding-right: 20px !important;
}

.padding-bottom {
    padding-bottom: 20px !important;
}

.padding-left {
    padding-left: 20px !important;
}

.padding-top-0 {
    padding-top: 0 !important;
}

.padding-right-0 {
    padding-right: 0 !important;
}

.padding-bottom-0 {
    padding-bottom: 0 !important;
}

.padding-left-0 {
    padding-left: 0 !important;
}

.border-top {
    border-top: 1px solid #dddddd !important;
}

.border-right {
    border-right: 1px solid #dddddd !important;
}

.border-bottom {
    border-bottom: 1px solid #dddddd !important;
}

.border-left {
    border-left: 1px solid #dddddd !important;
}

.border-0 {
    border: none !important;
}

.border-top-0 {
    border-top: none !important;
}

.border-right-0 {
    border-right: none !important;
}

.border-bottom-0 {
    border-bottom: none !important;
}

.border-left-0 {
    border-left: none !important;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-light {
    font-weight: 300;
}

.text-regular {
    font-weight: 400;
}

.text-strong {
    font-weight: 700;
}

/* POSITIONING */

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-sm {
    font-size: 0.8rem;
}

.text-lg {
    font-size: 1.55rem;
}

.text-xl {
    font-size: 2rem;
}

.spacer {
    flex: 1 1 auto;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.flex-v-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/* ==== PARTIALS ==== */

/*HEADER*/

header {
    background: whitesmoke;
    padding: 0.5rem;
    border-bottom: solid 2px #ddd;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
}

.header-address {
    flex: 4;
    display: flex;
    align-items: center;
}

.header-address img {
    max-width: 100px;
    margin-right: 0.5rem;
}

.header-info {
    flex: 4;
    display: flex;
}

.header-title {
    flex: 4;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0.5rem;
}

header ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header h3,
header div {
    line-height: 1.2;
    margin: 0;
}

/*FOOTER*/

footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
    page-break-inside: avoid;
}

footer .item {
    min-width: 25%;
    max-width: 25%;
    border-right: solid 1px #e4e5e9;
    text-align: center;
    min-height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

footer .item-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

footer .item i {
    margin-bottom: 10px;
}

footer .item:last-child {
    border: 0;
}
